# Environment
.venv/
__pycache__/

# IDE
.idea/

# Packaging
build/
# clp_ffi_py.egg-info
dist/
# wheelhouse/
# *.so

# Testing
# unittest-logs/

# Dev
# cmake-build-*
.cache/
.mypy_cache/
.task/
.gersemirc
.clang-format
.clang-tidy
compile_commands.json
uv.lock
.yamllint.yaml
